<%= stylesheet_link_tag "styles.css" %>
<h1>
    Admin Page
</h1>

<h3>Here is where all admin requests will take place.</h3>
    

<p>Here are the items:</p>
<ul>
<% @marketplace.each do |market| %>
<li><%= market[:name]  %></li>
<% end %>
</ul>

<hr/>

<h2>Add a new Product</h2>



<form action='/newproduct' method='POST'>

<input name='image' type='text' placeholder='image.jpg'>
<input name='name' type='text' placeholder='name'>
<input name="price" type="text" placeholder='price'>
<input name="desciption" type="text" placeholder='description'>
<input name="quantity" type="text" placeholder='quantity'>
<input type='submit'>
</form>

<hr/>

<p>
        <h3> <%= link_to "Click this link to see the Team", "/team" %></h3>
        <h3> <a href="/blog">Click this link To See Our Blog Post</a></h3>
        <h3> <a href="/homepage">Return to the Home Site</a></h3>
        
 </p>

<hr/>

</form>