<html>
<head>
    <title>Home Page</title>  
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Home Page</h1>
    <p></p>
    <p></p>
    <h2>This is the home page detailing the inner mechanisms of my mind...Completed on the 11th hour before this assignement is due </h2>
<p></p>
<p></p>
    <h3><b>Check out our stellar reviews</b></h3>

    <p>This is the best blog post I have ever seen in my entire life. Belongs in goodhouse keeping. The creator is very attractive as well</p>

    <p>Out of all of the blog posts in the world this is for sure one of them</p>
    
    <p><b>Whoever taught this creator how to edit HTML must be equally, perhaps even more, well learned about coding in HTML</b></p>

     <p>
        <h3><%= link_to "Click this link to see the Team", "/team" %></h3>
        <h3> <a href="/list">Click this link To See Our Store List</a></h3>
        <h3> <a href="/blog">Click this link To See Our Blog Post</a></h3>
    <p></p>
</body>
</html>
