<html>
<head>
    <title>Team Page</title>  
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <h1>Team</h1>
    <table>
        <tbody><tr><td><img src="assets/Bobert.jpg" alt="Bobert" width="300px" length="400px"></td></tr>
        <tr><td>Bobert</td></tr>
        <tr><td>The Hacker</td></tr>
    </tbody></table>

    <table>
        <tbody><tr><td><img src="assets/reginald.jpg" alt="reginald" width="300px" length="400px"></td></tr>
        <tr><td>Reginald</td></tr>
        <tr><td>The Leader</td></tr>
    </tbody></table>

    <table>
        <tbody><tr><td><img src="assets/timmothy.jpg" alt="timmothy" width="300px" height="200px"></td></tr>
        <tr><td>Timmothy</td></tr>
        <tr><td>The Foresaken One</td></tr>
    </tbody></table>

    <p>
        <h3> <a href="/list">Click this link To See Our Store List</a></h3>
        <h3> <a href="/blog">Click this link To See Our Blog Post</a></h3>
        <h3> <a href="/homepage">Return to the Home Site</a></h3>
        
    </p>


    
</body>
</html>