<html>
<head>
    <title>Team Page</title>  
    <%= stylesheet_link_tag "styles.css" %>
</head>

<body>
    <h1>
        Team Page
    </h1>
        <table>
            <tr><td><img src="assets/Bobert.jpg" alt="Billy"></td></tr>
            <tr><td>Billy</td></tr>
            <tr><td>Marketing</td></tr>
    </table>
    <table>
            <tr><td><img src="assets/reginald.jpg" alt="Bob"></td></tr>
            <tr><td>Bob</td></tr>
            <tr><td>Design</td></tr>
    </table>
    <table>
            <tr><td><img src="assets/timmothy.jpg" alt="Joe"></td></tr>
            <tr><td>Joe</td></tr>
            <tr><td>Customer Service</td></tr>
    </table>  
    <p>
        <h3> <a href="/list">Click this link To See Our Store List</a></h3>
        <h3> <a href="/blog">Click this link To See Our Blog Post</a></h3>
        <h3> <a href="/homepage">Return to the Home Site</a></h3>
        
    </p>


    
</body>
</html>